body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(120deg,#3498db,#2ecc71);
}
.page-box
{
    width:500px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
}
h2
{
    text-align:center;
    color:#3498db;
}
form
{
    margin-bottom:15px;
}
input
{
    width:100%;
    padding:8px;
    margin:6px 0;
    border:1px solid #ccc;
    border-radius:5px;
}
button
{
width:100%;
background:#3498db;
color:white;
padding:8px;
border:none;
border-radius:5px;
font-weight:bold;
cursor:pointer;
}
button:hover
{
    background:#2980b9;

}
.item-box img
{
    width:150px;
    height:120px;
    object-fit:cover;
    border-radius:6px;
    margin-bottom:10px;
}
.item-box h3
{
    margin:10px 0;
    color:#333
}
.item-box p 
{
    margin:5px 0;
    color#555;
}
.not-available
{
    color:red;
    font-weight:bold;
    margin-top:10px;
}
.message
{
    text-align:center;
    font-weight:bold;
    margin:15px 0;
}
items-scroll
{
    max-height:400px;
    overflow-y:auto;
    padding-right:5px;
}