body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(120deg,#3498db,#2ecc71);
}
.page-box
{
    width:500px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
}
h2
{
    text-align:center;
    color:#3498db;
}
