body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(120deg,#3498db,#2ecc71);
}
.home-btn
{
    position:absolute;
    top:15px;
    left:15px;
    background:white;
    padding:8px 15px;
    border-radius:6px;
    text-decoration:none;
    color:#3498db;
    font-weight:bold;
}
.home-btn:hover
{
    background:#ecf0f1;
}
.header
{
    background:#3498db;
    color:white;
    padding:15px;
    text-align:center;
    font-size:20px;
    margin-top:50px;

}
.title
{
    text-align:center;
    color:white;
    margin-top:10px;
}
.container
{
    padding:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}
.card
{
    background:white;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:0.3s;
}
.card:hover
{
    position:relative;
    top:-5px;
    background:#ecf4ff;
}
.icon
{
    font-size:45px;
    margin-bottom:10px;
}
.card h3{
    margin: 10px 0;
    color: #333;
}
.card p{
    color:#666;
    font-size:14px;
}

.logout-btn{
    display:block;
    width:120px;
    margin:30px auto;
    text-align:center;
    background:#bd1c0b;
    color:white;
    padding:10px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}
.a{ 
    text-decoration:none;
    color:#333;
}

