body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(120deg,#3498db,#2ecc71);
    position:sticky;
}
.home-btn
{
    position:absolute;
    top:15px;
    left:15px;
    background:white;
    padding:8px 15px;
    border-radius:6px;
    text-decoration:none;
    color:#3498db;
    font-weight:bold;
}
.header
{
    background:#3498db;
    color:white;
    padding:15px;
    text-align:center;
    font-size:20px;
    margin-top:50px;

}
.title
{
    text-align:center;
    color:white;
    margin-top:10px;
}
.container
{
    padding:30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}
.card
{
    background:white;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:0.3s;
}
.card:hover
{
    position:relative;
    top:-5px;
    background:#ecf4ff;
}