body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(120deg, #3498db, #2ecc71);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}